<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
                <div class="card">
                    <h4 class="card-header center text-primary">WINDA (Workflow Insights Data Analyzer)</h4>
                    <div class="card-body">
                        <!-- <h6 class="card-title text-success center">AI Chatbot Support</h6> -->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="frame-box">
                                    <div *ngFor="let item of chatConversation">
                                       
                                        <div [ngClass]="{'my-flex-container-left' : item.cssClass === 'bot', 'my-flex-container-right': item.cssClass === 'person'}">
                                            <div class="box"  [ngClass]="{'sb2' : item.cssClass === 'bot', 'sb1': item.cssClass === 'person'}"> {{item.person}} :  {{getText(item.response)}}  </div>
                                        </div>
                                        
                                    </div>
                                    <div><img src="../../assets/ZNeT.gif" *ngIf="showSpinner" width="50px" height="50px"></div>
                                    
                                </div>
                                <br>
                                    <textarea row="3" cols="15" class="form-control custom-form-control" [(ngModel)]="promptText" placeholder="Start by asking what you are looking for"></textarea>
                                    <br>
                                        <button class="btn btn-primary push-right" (click)="checkResponse()">Send</button>
                                    </div>
                                    <div class="col-md-2">
                                      
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
